.geral{
    background-image: url(../imgs/backgroundPapel.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    margin-top: -35px;
}
.container{
    height: 0 auto;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    margin-top: 20px;
    box-shadow: rgb(0, 0, 0, 0.5) 3px 3px 10px;
}
.title{
    text-align: center;
    margin: auto;
    font-family: "Gugi", sans-serif;
    font-style: normal;
    font-size: 35px;
    color: #447c46;
    margin-top: 38px;
}
.slideitem{
    width: 100%;
    height: 640px;
    object-fit: cover;
    
}
.swiper{
    margin-top: 30px;
    margin-bottom: 30px;
}

/* ///////////////////////// */

.cardHome{
    height: 250px;
    width: 1000px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgb(0, 0, 0, 0.5) 3px 3px 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.28);
}
.h1card{
    font-family: "Gugi", sans-serif;
    color: #447c46;
}
.pcard{
    font-family: "Gugi", sans-serif;
    font-size: x-large;
    width: 90%;
    color: #364648;
}
/*//////////////////////////////////////*/
.footer{
    margin-top: 90px;
    background-color: #364648;
    border-top: 8px solid #447c46;
}
.imglogo ,img{
    margin-top: -40px;
  height:200px;
}
.divfooter{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pfooter{
    font-size: large;
    margin-top: -50px;
    color: aliceblue;
}