.divform{
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    box-shadow: rgb(0, 0, 0, 0.5) 3px 3px 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.28);
    
}

.inputConteiner{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.label{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
    font-family: "Gugi", sans-serif;
    font-style: normal;
    color: white;
}
.input2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;
    width: 520px;
    height: 49px;
    border: 1px solid #447c46;
    border-radius: 12px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 10px #22222270;
}
.input1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;
    width: 520px;
    height: 49px;
    border: 1px solid #447c46;
    border-radius: 12px;
    margin: 8px;
    margin-bottom: 15px;
    box-shadow: 5px 5px 10px #22222270;
}

.imglogin{
    width: 270px;
    height: 250px;
    margin: auto;
}
.centralizar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.loginpage{
    background-image: url(../imgs/background.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}