body{
  margin: 0;
  padding: 0;;
}
.header{
  background-color: #364648;
  padding: 0px;
  color: white;
  border-bottom: 8px solid #447c46;
  display: flex;
  align-items: center;
  max-height: 100px;
  margin: 0;
}

.logodiv{
  position: relative;
  margin-right: 50px;
  padding: 0;
  max-width: 150px;
  max-height: 100px;
  display: flex;
 justify-content: flex-start;
  align-items: center;
}
.logodiv img{
  margin-top: 5px;
  width: 130%;
  height:190px;
}
.botao, .botao1{
  background-color: #eeeeee00;
  padding: 0px;
  margin-left: 50px;
  margin-right: 50px;
  border: none;
  justify-content: center;
}
.botaodiv{
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  margin-left: 50vh;
}

.link{
  color: white;
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-decoration:none;
    color: white;
    font-family: "Gugi", sans-serif;
    font-style: normal;
}
.link_login{
  color: white;
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-decoration:none;
    color: white;
    font-family: "Gugi", sans-serif;
    font-style: normal;
}
.link:hover{
  color: #447c46;
  opacity: 80%;
}
.link_login:hover{
  color: #364648;
}
.entrar{
  background-color: #447c46;
  width: 12vh !important;
  height: 60px !important;
  border-radius: 12px;
  border: 2px solid;
  border-color: white;
  margin-left: 50vh;
}